@media (min-width: 992px) {
  .dashboard-jumbotron {
    background: url('../images/deflated-ball.jpg');
    background-size: cover;
  }
}

@media (max-width: 991px) {
  .panel-dashboard {
    margin-bottom: 0;
    margin-top: 0;
  }
  .dashboard-jumbotron {
    padding: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.panel-dashboard {
  opacity: 0.9;
}

.upcoming-picks-table {
  table-layout: fixed;
}

.upcoming-picks-team:hover {
  cursor: pointer;
  background-color: #282828;
}

.upcoming-picks-table .glyphicon{
  margin-top: 10px;
}