@media (min-width: 768px) {
  .dashboard-jumbotron {
    background: url('../images/deflated-ball2.jpg');
    background-size: cover;
    /*min-height: 800px;*/
  }
}

@media (max-width: 991px) {
  .panel-dashboard {
    margin-bottom: 0;
    margin-top: 0;
  }
  .dashboard-jumbotron {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 20px;
    padding-top: 30px !important;
  }
}

.panel-dashboard {
  opacity: 0.9;
}

.upcoming-picks-table {
  table-layout: fixed;
}

.upcoming-picks-team:hover {
  cursor: pointer;
  background-color: #282828;
}

.upcoming-picks-table .glyphicon{
  margin-top: 10px;
  color: #888;
}