body {
  background: url('../images/floor-1600.jpg');
  background-repeat: no-repeat;
  background-color: #060606;
  background-position: center top;
}

@media(min-width: 1600px) {
  body {
    background-position: center top;
  }
}

@media (max-width: 500px) {
  .thumbnails {
    display: none;
  }
}

.btn-caption {
  margin-top: 8px;
}

.thumbnails {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  background-color: black;
  opacity: 0.75;
}