.predictions-summary {
  background-color: #060606;
}

.predictions-summary * {
  font-weight: bold;
}

.predictions-summary:hover {
  cursor: pointer;
}

.predictions-summary .team-col {
  text-align: center;
}

.predictions-summary .date-col {
  width: 40px;
  text-align: left;
}

.predictions-summary .outcome-col {
  width: 40px;
  text-align: right;
}

