/*game flexbox */
.game-container {
  min-height: 66px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  height: 107px;
}

.game-item {
  text-align: center;
}

.game-team {
  flex: 1;
}

.game-status {
  flex: 2;
}

.team-container {
  display: flex;
  flex-direction: column;
}

.team-item {
  flex: 1;
}

.team-name {
  border-radius: 5px;
}

.game-status-score {
  margin-bottom: 0;
}

.ineligible-team {
  cursor: not-allowed;
}

.ineligible-team * {
  color: #555;
  /*text-decoration: line-through;*/
}

.game-panel.panel-primary {
  box-shadow: 0 0 0.4em 0.15em #2A9FD6;
}

.game-panel.panel-success {
  box-shadow: 0 0 0.4em 0.15em #77B300;
}

.game-panel.panel-danger {
  box-shadow: 0 0 0.4em 0.15em #CC0000;
}

.game-container.game-not-started .team-name.eligible-team:hover {
  background-color: #2A9FD6;
  cursor: pointer;
}

.game-panel {
  border-width: 3px;
  border-radius: 10px;
}

.logo {
  height: 40px;
}

.team-name {
  padding-bottom: 15px;
}

.selected-team {
  box-shadow: 0 0 0.4em 0.15em #2A9FD6;
  border: 3px solid #2A9FD6;
}

.victory-team {
  box-shadow: 0 0 0.4em 0.15em #77B300;
  border: 3px solid #77B300;
}

.defeat-team {
  box-shadow: 0 0 0.4em 0.15em #CC0000;
  border: 3px solid #CC0000;
}

.ineligible-team .logo {
  opacity: 0.2;
}

/*
.team-item.text-primary {
  position: absolute;
  bottom: 46px;
  left: 44px;
  background-color: rgba(0,0,0,0.5);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  font-weight: bold;
}
*/