/*game flexbox */
.game-container {
  min-height: 66px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.game-item {
  text-align: center;
}

.game-team {
  flex: 1;
}

.game-status {
  flex: 2;
}

.team-container {
  display: flex;
  flex-direction: column;
}

.team-item {
  flex: 1;
}

.team-name {
  border-radius: 5px;
}

.game-status-score {
  margin-bottom: 0;
}

.ineligible-team {
  cursor: not-allowed;
}

.ineligible-team * {
  color: #555;
  text-decoration: line-through;
}

.game-container.game-not-started .team-name.eligible-team:hover {
  background-color: #2A9FD6;
  cursor: pointer;
}

.game-panel {
  border-width: 3px;
  border-radius: 10px;
}