.standings-team {
  padding: 2px;
  font-size: 1.4em;
  border-radius: 5px;
}

.standings-victory-team {
  box-shadow: 0 0 0.4em 0.1em #77B300;
}

.standings-defeat-team {
  box-shadow: 0 0 0.4em 0.1em #CC0000;
}

/*.standings-table>tbody>tr:hover {
  cursor: pointer;
}
*/

.w-l-column {
  min-width: 54px;
}

.standings-month-selector {
  display: flex;
  padding: 10px;
}
@media (min-width: 992px) {
  .standings-month-selector__label {
    margin-right: 10px;
    margin-top: 5px;
    flex: 1;
  }

  .standings-month-selector__select {
    flex: 2;
  }
}

@media (max-width: 991px) {
  .standings-month-selector__label {
    margin-right: 10px;
    margin-top: 5px;
    flex: 1;
  }

  .standings-month-selector__select {
    flex: 3;
  }
}