@import 'single-game.css';
@import 'standings.css';
@import 'dashboard.css';
@import 'day-picker.css';
@import 'status-message.css';
@import 'monthly-picks-sidebar.css';
@import 'navbar.css';
@import 'logo-sprites.css';
@import 'chat.css';
@import '../vendor/s-alert/s-alert-default.css';
@import '../vendor/s-alert/stackslide.css';
@import '../vendor/s-alert/slide.css';

/*tweaking the Bootstrap theme:*/
body {
  padding-top: 90px;
}

.jumbotron {
  padding-bottom: 30px;
  padding-top: 20px;
  opacity: 0.9;
}

.panel-default {
  color: #fff;
}

.panel-black {
  background-color: #060606;
  /*background-color: rgba(0,0,0,0);*/
}

.panel-title {
  text-align: center;
  font-size: 1.4em;
  color: #fff;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

.page-container {
  min-height:100%;
  position:relative;
}

.body-container {
  padding-top: 70px;
  padding-bottom: 120px;   /* Height of the footer */
}

.footer-container {
  background-color: #060606;
  border-top: 1px solid #282828;
  width: 100%;
  bottom: 0;
  position: absolute;
  min-height: 40px;
  padding: 5px 10px;
}

/*My own helper classes:*/
@media (min-width: 992px) {
  .full-height-parent {
    display: flex;
  }

  .full-height-child {
    align-items: stretch;
    margin-bottom: 10px;
  }
}

.send-waiting, .send-waiting * {
  cursor: progress;
}

/*Specific components, not enough code to merit a separate file:*/
.rules-panel {
  font-size: 1.2em;
}