@import 'single-game.css';
@import 'standings.css';
@import 'dashboard.css';
@import 'day-picker.css';
@import 'status-message.css';
@import 'monthly-picks-sidebar.css';
@import 'navbar.css';
@import 'logo-sprites.css';
@import '../vendor/s-alert/s-alert-default.css';
@import '../vendor/s-alert/stackslide.css';
@import '../vendor/s-alert/slide.css';

/*tweaking the Bootstrap theme:*/
body {
  padding-top: 90px;
}

.jumbotron {
  padding-bottom: 30px;
  padding-top: 20px;
  opacity: 0.9;
}

.panel-default {
  color: #fff;
}

.panel-black {
  background-color: #060606;
}

.panel-title {
  text-align: center;
  font-size: 1.4em;
  color: #fff;
}

/*My own helper classes:*/
@media (min-width: 992px) {
  .full-height-parent {
    display: flex;
  }

  .full-height-child {
    align-items: stretch;
    margin-bottom: 10px;
  }
}

.send-waiting, .send-waiting * {
  cursor: progress;
}

/*Specific components, not enough code to merit a separate file:*/
.rules-panel {
  font-size: 1.2em;
}