footer
  .pull-right 
    p Website by &nbsp;
      a(href="http://ryland-bell.com" target="_blank") Ryland Bell
  .clearfix
  .pull-right 
    ul.list-inline
      li Photo Credits: 
      li
        a(href="https://flic.kr/p/oZ66dS" target="_blank") Steve Snodgrass
      li
        a(href="https://flic.kr/p/Lw86xc" target="_blank") Marcus Spiske