footer
  .hidden-xs
    .pull-left 
      p
        a(href="https://github.com/rylandbell/pigeon-hoops" target="_blank") View project on GitHub
    .pull-right
      small
        ul.list-inline
          li Creative Commons Photo Credit:
          li
            a(href="https://flic.kr/p/oZ66dS" target="_blank") Steve Snodgrass
  .visible-xs
    p
      a(href="https://github.com/rylandbell/pigeon-hoops" target="_blank") View project on GitHub
    small
      | Creative Commons Photo Credits:
      ul.list-inline
        li
          a(href="https://flic.kr/p/oZ66dS" target="_blank") Steve Snodgrass