footer
  .hidden-xs
    .pull-left 
      p Website by &nbsp;
        a(href="http://ryland-bell.com" target="_blank") Ryland Bell
    .pull-right
      small
        ul.list-inline
          li Creative Commons Photo Credit:
          li
            a(href="https://flic.kr/p/oZ66dS" target="_blank") Steve Snodgrass
  .visible-xs
    p Website by &nbsp;
      a(href="http://ryland-bell.com" target="_blank") Ryland Bell
    small
      | Creative Commons Photo Credits:
      ul.list-inline
        li
          a(href="https://flic.kr/p/oZ66dS" target="_blank") Steve Snodgrass