footer
  .pull-right 
    small
      ul.list-inline
        li Creative Commons Photo Credits: 
        li
          a(href="https://flic.kr/p/oZ66dS" target="_blank") Steve Snodgrass
        li
          a(href="https://flic.kr/p/Lw86xc" target="_blank") Marcus Spiske
  .pull-left 
    p Website by &nbsp;
      a(href="http://ryland-bell.com" target="_blank") Ryland Bell