doctype html
html(lang="en")
  head
    script.
      function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
      }
      if(!getCookie('token') && (window.location.pathname !== '/login'))
        {window.location.href = '/login';}
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/vendor/bootstrap/css/cyborg.bootstrap.min.css')
    //- link(rel='stylesheet', href='/vendor/animate.css')
    link(rel='stylesheet', href='/vendor/s-alert/s-alert-default.css')
    link(rel='stylesheet', href='/vendor/s-alert/stackslide.css')
      
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    link(rel='stylesheet', href='/stylesheets/day-picker.css')
    link(rel='stylesheet', href='/stylesheets/chat.css')
    link(rel='stylesheet', href='/stylesheets/logo-sprites.css')
    link(rel='stylesheet', href='/stylesheets/monthly-picks-sidebar.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    link(rel='stylesheet', href='/stylesheets/single-game.css')
    link(rel='stylesheet', href='/stylesheets/status-message.css')
    link(rel='stylesheet', href='/stylesheets/standings.css')
    block stylesheets

  body
    .page-container
      .body-container
        block content
      .footer-container
        include ../includes/footer
    //- script(src='/vendor/js/jquery-1.11.1.min.js')
    //- script(src='/vendor/bootstrap/js/bootstrap.min.js')
    script.
      var activeMonth = '#{month}';
    block scripts
    script(src='/build/bundle.js')
      