doctype html
html(lang="en")
  head
    script.
      function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
      }
      if(!getCookie('token') && (window.location.pathname !== '/login'))
        {window.location.href = '/login';}
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cyborg/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Life+Savers:400,700', rel='stylesheet')
    link(rel='stylesheet', href='/vendor/s-alert/s-alert-default.css')
    link(rel='stylesheet', href='/vendor/s-alert/stackslide.css')
    link(rel='stylesheet', href='/vendor/introjs.min.css')
    link(rel='stylesheet', href='/build/bundle.css')
    block stylesheets

  body(id="#{pageId}")
    .page-container
      .body-container
        block content
      .footer-container
        include ../includes/footer
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    script.
      var activeMonth = '#{month}';
    block scripts
    script(src='/build/bundle.js')
      