extends ./layouts/layout.jade

block content
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      .jumbotron
        h3 The gist:
        ul
          li
            h4 This is a monthly competition.
          li
            h4 Pick one winner per day.
          li  
            h4 Pick each team no more than once per month.
          li
            h4 The player with the most correct picks at the end of the month wins; losses don't affect standings.
        hr
        p The fine print:
        ul
          li
            p Predictions can be changed or cancelled at any point up until a game's scheduled start time.
          li
            p Players are not required to choose a team every day (although it's generally advantageous to do so.)
          li
            p All predictions become public (on the Standings page) as soon as the game begins. 
        hr
        p Let me know if you can think of any other scenarios that are worth clarifying here.
