extends ./layouts/layout.jade

block content
  ul.how-to-play
    li Pick one winner per day.
    li Pick each team no more than once per month.
    li Predictions can be changed or cancelled at any point up until a game's scheduled start time.
    li Standings will rank players based solely on the number of their successful predictions. For example, a player with a 6-3 record would be ranked
      em &nbsp;ahead
      | &nbsp;of a 5-0 player.
    li All predictions become public as soon as the game begins.