var moment = require('moment');

extends ./layouts/layout.jade

block content
  
  .row
    .col-xs-12.col-sm-5.col-md-4.col-lg-3
      .panel.panel-default
        .panel-heading
          .panel-title My Picks
        .panel-body
          .list-group
            each month in addableUserMonths
              a.list-group-item(href='/new-month/#{month}')
                h5.text-center= moment(month).format('MMMM YYYY')
            each month in existingUserMonths
              a.list-group-item(href='/month/#{month}')
                h5.text-center= moment(month).format('MMMM YYYY')
      //- .panel.panel-default
      //-   .panel-heading
      //-     .panel-title= moment(month).format('MMMM')+' Standings'
      //-   .panel-body
      //-     table.table.standings-table
      //-       thead
      //-         tr
      //-           th Name
      //-           th.text-center Record
      //-           th.text-center Today
      //-       tbody
      //-         tr
      //-           td Ryland
      //-           td.text-center 30-0
      //-           td.text-center IND
      //-         tr
      //-           td Johnny
      //-           td.text-center 15-15
      //-           td.text-center OKC
      //-         tr
      //-           td Draymond
      //-           td.text-center 0-30
      //-           td.text-center -
      //-         tr
      //-           td Kyrie
      //-           td.text-center 0-30
      //-           td.text-center -
      //-         tr
      //-           td Steph
      //-           td.text-center 0-30
      //-           td.text-center -
      //-         tr
      //-           td Dirk
      //-           td.text-center 0-30
      //-           td.text-center -
      //-         tr
      //-           td LeBron
      //-           td.text-center 0-30
      //-           td.text-center -
      //-     .small.text-center (Updated daily at midnight Pacific time.)
    .col-xs-12.col-sm-7.col-md-8.col-lg-8.col-lg-offset-1
      .jumbotron
        .panel-boody
          h3 Welcome!
          p Thanks for signing up for the beta. Feel free to poke around the site; the most important bit is the My Picks page. If you've signed up at the end of October, I encourage you to go ahead and make some picks in October to get a feel for things. You're also free to begin mapping out your November selections. Picks can be added or updated right up until the listed start time for a game, so don't be afraid to start clicking on games.
          p I'm still refining the user interface and aesthetics, so don't be surprised if you see some elements move around over time. I'm also still hoping to add a few more features, so keep your eyes open for:
          ul
            li A page to display everybody's picks for the month (which become public as soon as the game begins).
            li Some sort of basic chat component.
            li Live NBA scores. User picks are only scored at the end of each day, but I'd like to display live NBA results on the predictions page.
      .panel.panel-default
        .panel-heading
          .panel-title Known Issues
        .panel-body
          ul
            li
              strong Slow loading.
              | &nbsp; Sometimes the server takes ~3 seconds to "wake up" when you navigate to the site. This is a necessary by-product of the free hosting service I'm using. I'm also working on reducing the size and number of files in the app so that the load time is reduced.

block scripts
  //- script(src='/js/bundle.js') 