extends ./layouts/layout.jade

block content
  .lead Choose a month:
  ul
    a(href='/month/2016-10')
      li October
    a(href='/month/2016-11')
      li November

block scripts
  //- script(src='/js/bundle.js') 