extends ./layouts/layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/login-page.css')

block content
  .row
    .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      .row
        .col-xs-12
          .jumbotron
            h3 One month.
            p
              | Pick the winner of one NBA game each day. No point spreads. The player with the most correct picks at the end of the month wins.
            h3 30 teams.
            p
              | To keep things interesting, players are only allowed to choose each team once per month. We all get to pick the Warriors once, but we also get to pick the Nets.
            //- h3 How do I play?
            //- p Sign up from this page, and you can start making picks right away. We'll keep track of results, standings, and help you keep track of which teams you've already chosen. Picks can be updated right up until a game starts.
            button.center-block.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#signUpModal')
              | Sign Me Up
            .small.text-center.btn-caption (It's free, private, and quick.)
      .thumbnails
        .row
          .col-xs-4.col-sm-4
            h5 Follow every team.
          .col-xs-4.col-sm-4
            h5 Root for actual game outcomes.
          .col-xs-4.col-sm-4
            h5 Blend strategy, NBA insight, and luck.
        .row
          .col-xs-4.col-sm-4
            p You may or may not care about (say) the Wizards, but now you have a good excuse to follow one of their games each month. League Pass friendly.
          .col-xs-4.col-sm-4
            p In fantasy basketball or betting against a point spread, it's not uncommon to find yourself rooting for things only loosely related to who wins the actual game.
          .col-xs-4.col-sm-4
            p The each-team-once rule forces players to think strategically. When should I pick the best teams? What about the worst teams? How many correct picks will it take to win?
    
  //Sign-up modal
  #signUpModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='signUpModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#signUpModalLabel.modal-title Sign Up
        .modal-body
          form#register-form.form(action='/register', method='post', role='form')
            .row
              .col-xs-12
                .form-group
                  label Username: &nbsp;
                  input.form-control(type='text' name='username' autocomplete='off' required)
                .form-group
                  label Password: &nbsp;
                  input.form-control(type='password' name='password' required)
                .form-group
                  label Display Name: &nbsp;
                  input.form-control(type='text' name='displayName' autocomplete='off' maxlength='20' required)
                .form-group
                  label Email (optional, but requested for testers): &nbsp;
                  input.form-control(type='email' name='email' autocomplete='off')
                                    
        .modal-footer
          button.btn.btn-default.btn-primary(type='submit' form='register-form') Submit

//- block scripts
//-   script(src='/javascripts/login.js')
