extends ./layouts/layout

block content
  include ./includes/navbar
  .container
    .row
      if (message)
        .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
          .alert.alert-info(role='alert')
            .glyphicon.glyphicon-warning-sign
            strong &nbsp; #{message}
      .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
        .row
          .col-xs-12
            .jumbotron
              h2.text-center 
              h3 Pick one NBA winner per day.
              p
                | No point spreads. This is a monthly competition; the player with the most correct picks at the end of the month wins.
              h3 Don't repeat yourself.
              p
                | To keep things interesting, players are only allowed to choose each team once per month. We all get to pick the Warriors once, but we also get to pick the Nets.
              //button.center-block.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#signUpModal')
              button.center-block.btn.btn-lg.btn-primary(type='button', data-toggle='popover', data-content="Account sign-ups are disabled for the NBA offseason. Try signing in with username: guest, password: pass in the nav bar's sign-in form.") Sign Me Up
              .small.text-center.btn-caption (It's free, private, and quick.)
        .thumbnails
          .row
            .col-xs-4.col-sm-4
              h5 Follow every team.
            .col-xs-4.col-sm-4
              h5 Root for actual game outcomes.
            .col-xs-4.col-sm-4
              h5 Blend strategy, NBA insight, and luck.
          .row
            .col-xs-4.col-sm-4
              p You may or may not care about (say) the Wizards, but now you have a good excuse to follow one of their games each month. League Pass friendly.
            .col-xs-4.col-sm-4
              p In fantasy basketball or when betting against a point spread, it's a bummer to find yourself rooting for events only loosely related to who wins the actual game.
            .col-xs-4.col-sm-4
              p The each-team-once rule forces players to think strategically. When should I pick the best teams? What about the worst teams? How many correct picks will it take to win?
  //Sign-up modal
  #signUpModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='signUpModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#signUpModalLabel.modal-title Sign Up
        .modal-body
          form#register-form.form(action='/register', method='post', role='form')
            .row
              .col-xs-12.col-md-6
                .form-group
                  label Login ID: &nbsp;
                  input.form-control(type='text' name='username' autocomplete='off' required)
                .form-group
                  label Display Name (visible to others): &nbsp;
                  input.form-control(type='text' name='displayName' autocomplete='off' maxlength='20' required)
                .form-group
                  label Email (optional, but requested for testers): &nbsp;
                  input.form-control(type='email' name='email' autocomplete='off')
              .col-xs-12.col-md-6
                .form-group
                  label Password: &nbsp;
                  input#password.form-control(type='password' name='password' required)
                .form-group
                  label Confirm Password: &nbsp;
                  input#confirm-password.form-control(type='password' name='cofirm-password' required)
                .alert.alert-info(role='alert')
                  .glyphicon.glyphicon-info-sign
                  |&nbsp; Don't lose your password. I don't have an account recovery system in place yet.
                                    
        .modal-footer
          button.btn.btn-default.btn-primary(type='submit' form='register-form') Submit
  #summerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='signUpModalLabel')
    .modal-dialog(role='document')
      .modal-content
        //- .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          //- h4#signUpModalLabel.modal-title Sign Up
        .modal-body
          .summer-message
            p Sadly, the 2016-17 NBA regular season has come to an end. If you'd like to give this app a try, log in with:
            ul
              li Username: "guest"
              li Password: "pass"
            p You'll find a temporary summer version of Pigeon Hoops that uses a snapshot of the app data as it stood on April 10 (two days before the season ended). Feel free to make or change some picks!
        .modal-footer
          button.btn.btn-primary(type='button', data-dismiss='modal', aria-label='Close')
            span Got It!

block scripts
  script(src='/vendor/bootstrap/js/bootstrap.min.js')
  script(src='/js/validation.js')