extends ./layouts/layout.jade

block content
  .mockups
    .row
      .col-xs-12.col-sm-6.col-md-4
        p Upcoming game, no selections made:
        .panel.panel-default.game-panel
          .panel-body
            .game-container.game-not-started
              .game-item.game-team
                .team-container
                  .team-item.team-name.eligible-team
                    h4 POR
                    img(src='/images/logos/por.png').logo
              .game-item.game-status
                h5 10:00 pm ET
              .game-item.game-team
                .team-container
                  .team-item.team-name.eligible-team
                    h4 UTA
                    img(src='/images/logos/uta.png').logo
      .col-xs-12.col-sm-6.col-md-4
        p Upcoming game, no selections made, Portland ineligible:
        .panel.panel-default.game-panel
          .panel-body
            .game-container.game-not-started
              .game-item.game-team
                .team-container
                  .team-item.team-name.ineligible-team
                    h4 POR
                    img(src='/images/logos/por.png').logo
              .game-item.game-status
                h5 10:00 pm ET
              .game-item.game-team
                .team-container
                  .team-item.team-name.eligible-team
                    h4 UTA
                    img(src='/images/logos/uta.png').logo
      .col-xs-12.col-sm-6.col-md-4
        p Upcoming game, user has chosen Portland:
        .panel.game-panel
          .panel-body
            .game-container.game-not-started
              .game-item.game-team
                .team-container
                  .team-item.team-name.eligible-team.selected-team
                    h4 POR
                    img(src='/images/logos/por.png').logo
                  //- .text-primary.team-item Selected
              .game-item.game-status
                h5 10:00 pm ET
              .game-item.game-team
                .team-container
                  .team-item.team-name.eligible-team
                    h4 UTA
                    img(src='/images/logos/uta.png').logo
    .row
      .col-xs-12.col-sm-6.col-md-4
        p Finished game, no selections made:
        .panel.panel-default.game-panel
          .panel-body
            .game-container
              .game-item.game-team
                .team-container
                  .team-item.team-name.eligible-team
                    h4 POR
                    img(src='/images/logos/por.png').logo
              .game-item.game-status
                h5 97-90
              .game-item.game-team
                .team-container
                  .team-item.team-name.eligible-team
                    h4 UTA
                    img(src='/images/logos/uta.png').logo
      .col-xs-12.col-sm-6.col-md-4
        p Finished game, user correctly chose Portland:
        .panel.game-panel
          .panel-body
            .game-container
              .game-item.game-team
                .team-container
                  .team-item.team-name.eligible-team.victory-team
                    h4 POR
                    img(src='/images/logos/por.png').logo
                //- .text-success Victory!
              .game-item.game-status
                h5 97-90
                h3.text-success W
              .game-item.game-team
                .team-container
                  .team-item.team-name.eligible-team
                    h4 UTA
                    img(src='/images/logos/uta.png').logo
      .col-xs-12.col-sm-6.col-md-4
        p Finished game, user incorrectly chose Portland:
        .panel.game-panel
          .panel-body
            .game-container
              .game-item.game-team
                .team-container
                  .team-item.team-name.eligible-team.defeat-team
                    h4 POR
                    img(src='/images/logos/por.png').logo
                //- .text-danger Defeat!
              .game-item.game-status
                h5 97-90
                h3.text-danger L
              .game-item.game-team
                .team-container
                  .team-item.team-name.eligible-team
                    h4 UTA
                    img(src='/images/logos/uta.png').logo
    br
    hr
    br
    .row.fixed-row.hidden-xs.hidden-sm
      .col-xs-12
        table.table.table-condensed.horiz-teams-table
          tbody
            tr
              td
              td ATL
              td BKN
              td BOS
              td CHA
              td CHI
              td CLE
              td DET
              td IND
              td MIA
              td MIL
              td NYK
              td ORL
              td PHI
              td TOR
              th WAS
            tr
              td Date
              td
              td
              td.player-win 2
              td.selected 4
              td.selected 5
              td
              td
              td
              td
              td.player-win 3
              td
              td
              td
              td
              td
            tr.gap
              td
              td
              td
              td
              td
              td
              td
              td
              td
              td
              td
              td
              td
              td
              td
              td
            tr
              td 
              td DAL
              td DEN
              td GSW
              td HOU
              td LAC
              td LAL
              td MEM
              td MIN
              td NOP
              td OKC
              td PHX
              td POR
              td SAC
              td SAS
              td UTA
            tr
              td Date
              td
              td
              td
              td.player-loss 1
              td
              td
              td
              td
              td
              td
              td
              td
              td
              td
              td   
    br
    hr
    br  
    .row
      .col-xs-12.col-sm-2
        h6.text-center Western Conference
        table.vert-teams-table.table.table-condensed
          thead
            tr
              th Team
              th Date
          tbody
            tr.selected
              td ATL
              td Nov 12
            tr
              td BOS
              td -
            tr
              td CHA
              td -
            tr
              td ATL
              td -
            tr
              td BOS
              td -
            tr.selected
              td CHA
              td Nov 1
            tr.selected
              td ATL
              td Nov 2
            tr
              td BOS
              td -
            tr
              td CHA
              td -
            tr
              td ATL
              td -
            tr
              td BOS
              td -
            tr
              td CHA
              td -
            tr
              td ATL
              td -
            tr
              td BOS
              td -
            tr
              td CHA
              td -
      .col-xs-12.col-sm-2
        h6.text-center By Date
        table.table.table-condensed.table-hover.predictions-summary
          tbody
            tr
              td.date-col 11/1
              td.team-col PHI
              td.outcome-col
                .text-success W
            tr
              td 11/2
              td.team-col POR
              td.outcome-col
                .text-danger L
            tr
              td 11/3
              td.team-col CHI
              td.outcome-col
                .text-danger L
            tr
              td 11/4
              td.team-col LAL
              td.outcome-col
                .text-success W
            tr
              td 11/5
              td.team-col LAC
              td.outcome-col
            tr
              td 11/6
              td.team-col UTA
              td.outcome-col
            tr
              td 11/7
              td.team-col -
              td.outcome-col
            tr
              td 11/8
              td.team-col -
              td.outcome-col
            tr
              td 11/9
              td.team-col -
              td.outcome-col
            tr
              td 11/10
              td.team-col -
              td.outcome-col
