extends ./layouts/layout.jade

block content
  .container
    .row
      .col-xs-12.col-md-5
        .panel.panel-default.panel-black
          .panel-heading
            .panel-title My Picks - Summary
          .panel-body
            p Upcoming Games:
            table.table.upcoming-picks-table
              thead
                tr
                  th.text-center Nov 11
                  th.text-center Nov 12
                  th.text-center Nov 13
                  th.text-center Nov 14
              tbody
                tr
                  td
                    .por.center-block
                  td
                    .gsw.center-block
                  td
                    .sas.center-block
                  td
                    .uta.center-block
            button.btn.btn-primary.btn-lg.center-block Update My Picks
      