@media (max-width: 991px) {
  .panel-dashboard {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.panel-dashboard {
  opacity: 0.9;
}

.upcoming-picks-table {
  table-layout: fixed;
}

.upcoming-picks-team:hover {
  cursor: pointer;
  background-color: #282828;
}

.upcoming-picks-table .glyphicon{
  margin-top: 10px;
  color: #888;
}

.dashboard-help-text {
  color: #888888;
}

.pick-summary__month-selector {
  
}