.introjs-helperLayer {
  background-color: rgba(210, 210, 30, 0.4);
}

.introjs-tooltiptext {
  color: black;
}

.introjs-overlay {
  opacity: 0.25 !important;
}

@media (min-width: 769px) {
  .introjs-tooltiptext {
    font-size: 24px;
  }

  .introjs-tooltip {
    width: 600px;
    max-width: 600px;
  }
}