/*body {
  background: url('../images/floor.jpg') !important;
  background-size: cover;
  background-attachment: fixed;
}*/

#login-page {
  background: url('../images/floor.jpg') !important;
  background-size: cover;
  background-attachment: fixed;
}

@media(min-width: 1600px) {
  #login-page body {
    background-position: center top;
  }
}

@media (max-width: 500px) {
  #login-page .thumbnails {
    display: none;
  }
}

#login-page .btn-caption {
  margin-top: 8px;
}

#login-page .thumbnails {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  background-color: black;
  opacity: 0.75;
}