/*body {
  background: url('../images/floor.jpg') !important;
  background-size: cover;
  background-attachment: fixed;
}*/

#login-page {
  background: url('../images/floor.jpg') !important;
  background-size: cover;
  background-attachment: fixed;
}

@media(min-width: 1600px) {
  #login-page body {
    background-position: center top;
  }
}

@media (max-width: 500px) {
  #login-page .thumbnails {
    display: none;
  }
}

#login-page .btn-caption {
  margin-top: 8px;
}

#login-page .thumbnails {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  background-color: black;
  opacity: 0.75;
}

.summer-message {
  /*background-color: rgba(153, 51, 204,.7);*/
  /*background-color: rgba(240,240,240,.7);*/
  font-size: 20px;
  /*font-weight: bold;*/
  line-height: 32px;
  color: rgb(246,246,246);
  /*border-radius: 5px;*/
  /*border: 3px solid #9933cc;*/
  padding: 15px;
  margin-bottom: 30px;
}