.monthly-picks-sidebar-panel > .panel-body {
  padding: 0;
}

.monthly-picks-sidebar {
  border: 1px solid #222222;
  border-left: 2px solid #222222;
  background-color: #060606;
  border-radius: 10px;
  border-collapse: initial;
  padding: 0;
  margin-bottom: 0;
}

.monthly-picks-sidebar tr {
  background-color: #121212;
}

.monthly-picks-sidebar * {
  font-weight: bold;
}

.monthly-picks-sidebar:hover {
  cursor: pointer;
}

.monthly-picks-sidebar .team-col {
  text-align: center;
}

.monthly-picks-sidebar .date-col {
  width: 40px;
  text-align: left;
}

.monthly-picks-sidebar .outcome-col {
  width: 40px;
  text-align: right;
}