

#login-form #navbar-collapse-1 form {
  width: 100%;
}

#login-form .form-group, #login-form button {
  margin-left: 15px;
}

.navbar-brand {
  font-family: 'Life Savers', serif;
  font-weight: bold;
  font-size: 20px;
}

.navbar label {
  margin-bottom: 0;
  margin-right: 8px;
  font-weight: normal;
}

.navbar select {
  margin-right: 15px;
}

@media (min-width: 769px) {
  .navbar {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .league-month-picker__select.form-control {
    padding: 30px !important;
  }
}

@media (max-width: 768px) {
  .league-month-picker {
    margin: 0;
    border-top: 0;
  }

  .navbar-nav {
    margin: 0;
  }

  .navbar-collapse {
    border-top: 0;
  }
}
