#login-form #navbar-collapse-1 form {
  width: 100%;
}

#login-form .form-group, #login-form button {
  margin-left: 15px;
}

.navbar-brand {
  font-family: 'Life Savers', serif;
  font-weight: bold;
  font-size: 20px;
}

.navbar label {
  margin-bottom: 0;
  margin-right: 8px;
  font-weight: normal;
}

.navbar select {
  margin-right: 20px;
}

@media (min-width: 768px) {
  .navbar {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .navbar-fixed-top .navbar-collapse {
    max-height: 540px;
  }
  
  .league-month-picker {
    margin: 0;
    border-top: 0;
  }

  .navbar-nav {
    margin: 0;
  }

  .navbar-collapse {
    border-top: 0;
  }

  .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #282828;
  }

  .navbar-nav>li>a {
    padding-top: 7px;
    padding-bottom: 5px;
  }

  .sign-out {
    padding-bottom: 14px;
  }
}
