.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
}

#navbar-collapse-1 form {
  width: 100%;
}

#login-form .form-group, #login-form button {
  margin-left: 15px;
}

.navbar-brand {
  font-family: 'Life Savers', serif;
  font-weight: bold;
  font-size: 20px;
}