/*game flexbox */
.game-container {
  min-height: 66px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.game-item {
  text-align: center;
}

.game-team {
  flex: 1;
}

.game-status {
  flex: 2;
}

.team-container {
  display: flex;
  flex-direction: column;
}

.team-item {
  flex: 1;
  transition: box-shadow .3s;
}

.team-name {
  border-radius: 10px;
}

.team-name>h4 {
  font-size: 20px;
}

.game-status-score {
  margin-bottom: 0;
  font-size: 14px;
}

.ineligible-team {
  cursor: not-allowed;
}

.ineligible-team * {
  color: #555;
}

.game-container.game-not-started .team-name.eligible-team:hover {
  background-color: #2A9FD6;
  cursor: pointer;
}

.game-panel {
  background-color: #121212;
  border-color: #222222;
  border-width: 3px;
  border-radius: 10px;
}

.game-panel .panel-body {
  padding: 5px 10px;
}

.logo {
  margin: 0 auto;
}

.team-name {
  padding-bottom: 10px;
  border: 3px solid #121212;
}

.selected-team {
  box-shadow: 0 0 0.4em 0.15em #2A9FD6;
  border: 3px solid #2A9FD6;
}

.victory-team {
  box-shadow: 0 0 0.4em 0.15em #77B300;
  border: 3px solid #77B300;
}

.defeat-team {
  box-shadow: 0 0 0.4em 0.15em #CC0000;
  border: 3px solid #CC0000;
}

.ineligible-team .logo {
  opacity: 0.2;
}

.game-status-outcome {
  margin: 5px 0 0 0;
}

/*.team-name h4 {
  font-size: 24px;
  font-family: 'Roboto Slab', serif;
}

h3 {
  font-family: 'Slabo 27px', serif;
}*/