.standings-panel {
  padding-top: 28px;
}

.full-standings-wrapper {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y:visible;
  margin-left: 211px;
}

.standings-team {
  padding: 2px;
  /*font-size: 1.4em;*/
  border-radius: 5px;
}

.standings-team .glyphicon {
  margin-top: 6px;
  color: #888;
}

.standings-victory-team {
  box-shadow: 0 0 0.4em 0.1em #77B300;
}

.standings-defeat-team {
  box-shadow: 0 0 0.4em 0.1em #CC0000;
}

.full-standings-wrapper .w-l-column {
  width: 54px;
  position: absolute;
  left: 190px;
}

.name-column {
  position: absolute;
  left: 30px;
  width: 160px;
}

.full-standings-wrapper .w-l-column, .full-standings-wrapper .name-column {
  background-color: #181818;
}

.full-standings-wrapper th.w-l-column, .full-standings-wrapper th.name-column {
  height: 38px;
  /*border-bottom-width: 5px;*/
  /*border-color: red;*/
}

.full-standings-wrapper td.w-l-column, .full-standings-wrapper td.name-column {
  height: 62px;
}

.full-standings-wrapper table {
  margin-bottom: 0;
}

.standings-month-selector {
  display: flex;
  padding: 10px;
}
@media (min-width: 992px) {
  .standings-month-selector__label {
    margin-right: 10px;
    margin-top: 5px;
    flex: 1;
  }

  .standings-month-selector__select {
    flex: 2;
  }
}

@media (max-width: 991px) {
  .standings-month-selector__label {
    margin-right: 10px;
    margin-top: 5px;
    flex: 1;
  }

  .standings-month-selector__select {
    flex: 3;
  }
}
