/*@import './react-s-alert/s-alert-default.css';*/
/*@import './react-s-alert/stackslide.css';*/
@import './mobile.css';
@import './dashboard.css';
@import './day-picker.css';
@import './chat.css';
@import './logo-sprites.css';
@import './monthly-picks-sidebar.css';
@import './navbar.css';
@import './single-game.css';
@import './status-message.css';
@import './standings.css';
@import './login-page.css';
@import './month-selector.css';

/*tweaking the Bootstrap theme:*/

@media (min-width: 769px) {
  body {
    background: url('../images/black_mamba.png');
    /*background-size: cover;*/
    /*background-attachment: fixed;*/
  }
}

@media (min-width: 768px) {
  .container {
    width: 95vw;
    max-width: 1170px;
  }
}

.jumbotron {
  padding-bottom: 30px;
  padding-top: 20px;
  opacity: 0.9;
}

.panel-default {
  color: #fff;
}

.panel-default > .panel-heading {
  /*background-color: #282828;*/
}

.panel-black {
  /*background-color: #060606;*/
  /*background-color: rgba(0,0,0,.6);*/
}

.panel-title {
  text-align: center;
  font-size: 1.4em;
  color: #fff;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

.page-container {
  min-height:100%;
  position:relative;
}

.body-container {
  padding-top: 70px;
  padding-bottom: 120px;   /* Height of the footer */
}

@media (max-width: 768px) {
  .body-container {
    padding-top: 80px;
    padding-bottom: 85px;
  }
}

.footer-container {
  background-color: #060606;
  border-top: 1px solid #282828;
  width: 100%;
  bottom: 0;
  position: absolute;
  min-height: 40px;
  padding: 5px 10px;
}

/*My own helper classes:*/
@media (min-width: 992px) {
  .full-height-parent {
    display: flex;
  }

  .full-height-child {
    align-items: stretch;
    margin-bottom: 10px;
  }
}

.send-waiting, .send-waiting * {
  cursor: progress;
}

/*Specific components, not enough code to merit a separate file:*/
.rules-panel {
  font-size: 1.2em;
}

.daily-picks-panel {
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(0,0,0,0);
}

